:root {
  --menu-box-color: gray;
  --top-header-color: rgb(36, 36, 36);
  --side-header-color: rgb(25, 25, 25);
  --logo-color: rgb(224, 102, 61);
  --title-color: rgb(222, 80, 33);

  --header-size: 10vw;
  --side-header-offset: 0;
}

.placeholder-top {
  height: var(--header-size);
  width: 100%;
}

.top-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--top-header-color);
  height: var(--header-size);
}

.top-header-wrap.outer {
  display: block;
  height: 100%;
}

.top-header-wrap.inner {
  display: flex;
  align-items: center;
  margin: auto;
  height: 100%;
}

.side-header {
  position: fixed;
  left: var(--side-header-offset); 
  top: var(--header-size);
  width: var(--header-size);
  height: 100%;
  background-color: var(--side-header-color);
}

.side-header-text {
  position: relative;
  left: calc(var(--header-size)/1.2);
  top: calc(50vh - var(--header-size));
  font-size: 2vw;
  color: gray;
  text-orientation: upright;
  writing-mode: sideways-rl;
  position: absolute;
}

.box {
  background-color: var(--menu-box-color);
  margin: auto;
  width: calc(var(--header-size) - var(--header-size) / 5);
  height: calc(var(--header-size) - var(--header-size) / 5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box.logo {
  background-color: var(--logo-color) !important;
  margin-left: calc(var(--header-size) / 10) !important;
  margin-right: calc(var(--header-size) / 10) !important;
  display: block !important;
  width: calc(var(--header-size) - var(--header-size) / 5) !important;
  height: calc(var(--header-size) - var(--header-size) / 5) !important;
}
.box.menu {
  margin-top: calc(var(--header-size) / 10) !important;
}
.box-image {
  width: inherit;
  margin-top: 1px;
}
.box-text {
  display: none;
  margin: 0;
  font-size: 2vw;
  color: inherit;
  text-align: center;
}

.title {
  font-size: 70px;
  color: var(--title-color);
  font-family: 'reklame';
  margin: 0;
  font-size: calc(var(--header-size) / 1.5);
}
.smallTitle {
  display: none;
}
.smallTitleText {
  margin: 0;
}

.tableItem {
  width: 120px;
  font-weight: normal;
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (max-width: 500px) {
  .smallTitle {
    display: block;
    font-size: calc(var(--header-size) / 3);
    color: var(--title-color);
    font-family: 'reklame';
    text-align: center;
    margin: auto;
  }
  .title {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .headerSide {
    display: none;
  }
}